<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Load_Menu/styles/globalIn.css' %}">
    <link rel="shortcut icon" href="{% static 'Load_Menu/images/favicon.png' %}" type="image/x-icon">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% comment "Navigation Bar Starts" %}
    {% endcomment %}
    <nav id="navigationBar">
        <div class="navBtns">
            {% for item in NavItems %}
            <a href="{{item.url}}" class="btnPrimary">{{item.name}}</a>
            {% empty %}
            <h1>Record Not Found!</h1>
            {% endfor %}
        </div>

        <div class="logo_title">
            <h1 class="logo_heading">Load Manager</h1>
        </div>
        
        <div class="searchBox">
            <form action="searchEngine" method="post">
                {% csrf_token %}
                <input type="text" name="inputItem" placeholder="Search..." required>
                <button class="btnPrimary" type="submit">Search</button>
            </form>            
        </div>
    </nav>


    {% comment "Allert Messages" %}
    {% endcomment %}

    {% for message in messages %}
        <div class="alert-box allert allert-{{message.tags}}">
            <p><strong class="text-upper">{{message.tags}}</strong> : {{message}}</p>
            <div class="closeBtn">&times;</div>
        </div>
    {% endfor %}

    {% comment "Main Container for content starts" %}
    {% endcomment %}
    <div class="mainContainer">
        {% block content %}
        {% endblock %}
    </div>

    {% comment "Footer Starts" %}
    {% endcomment %}
    <footer id="footerBar">
        <p>Copyright &copy; <span id="dateYear"></span> | Load Manager and all rights reserved.</p>
    </footer>

    {% comment "Script to Get Year and fill" %}
    {% endcomment %}
    <script>
        const dateYear = document.getElementById("dateYear"),
            newDate = new Date().getFullYear();
        
            dateYear.innerText = newDate;
    </script>

{% if messages %}
    {% load static %}
    {% block script %}<script src="{% static 'Load_Menu/js/alert.js' %}"></script>{% endblock %}
{% endif %}
</body>
</html>