{% extends "layout.html" %}
{% block title %}Update Item | Load Manager{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'Load_Menu/styles/delete.css' %}">{% endblock %}
{% block content %}
<form action="previewItemsUpdate" id="del_form" method="POST">
    {% csrf_token %}
    <input type="text" maxlength="11" name="inputItem" id="inputItem" placeholder="Enter number to search..." required>
    <button id="submitBtnBoth" class="btnPrimary" type="submit" style="opacity: 0.5; cursor: not-allowed">Search</button>
</form>

{% load static %}
{% block script %}<script src="{% static 'Load_Menu/js/updateValidation.js' %}"></script>{% endblock %}
{% endblock %}